    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Bless the Saints!</h4>
    </div>
      <div class="modal-body">
        <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <% if @gif.file.blank? %>
            <%= link_to image_tag(@gif.url, :class => "img-responsive center-block"), gif_path(@gif), "data-toggle" => "modal", "data-target" => "#defaultModal" %>
            <% else %>
            <%= link_to image_tag(attachment_url(@gif, :file), :class => "img-responsive center-block"), gif_path(@gif), "data-toggle" => "modal", "data-target" => "#defaultModal" %>
            <% end %>
            <%= render partial: "stats" %>
          </div>
        </div>
        </div>
      </div>
     <div class="modal-footer">
     </div>
